div {
    height:  150px;
    width: 150px;
    float: left;
    margin-bottom: 50px;
    }

body {
    background-color: rgb(138, 138, 138);
    padding: 5px;
    border-style: solid 5px rgb(77, 48, 48);
    text-align: center;
}

h1 {
    font-size: xx-large; 
}

input {
    border-radius: 7px;
    background-color: rgb(255, 249, 240, 0.3);
    margin-bottom: 5px;
    border-color: black;
}

button {
    background-color: rgb(255, 249, 240, 0.3);
    border-radius: 7px;
    border-color: grey;
}

button:hover {
    background-color: grey;
    border-radius: 7px;

} 

#btnCreateuser {
    background-color: rgb(255, 249, 240, 0.3);
    border-radius: 7px;
    width: 150px;
    height: 60px;
    font-size: medium;
    border-color: grey;
}

#btnCreateuser:hover {
    background-color: grey;
    border-radius: 7px;
}

#btnHome {
    background-color: rgb(255, 249, 240, 0.3);
    border-radius: 7px;
    float: left;
    border-color: grey;
}

#btnHome:hover {
    background-color: grey;
    border-radius: 7px;
}

#btnBack {
    background-color: rgb(255, 249, 240, 0.3);
    border-radius: 7px;
    float: left;
    border-color: grey;
}

#btnBack:hover {
    background-color: grey;
    border-radius: 7px;
}

#container {
    width: 100%;
    aspect-ratio: 100/29;
    margin-left: 50px;
}